/*********
 * basis *
 *********/

/*
 * the color palette
 */

:root {
  --theme-color-lighter: #acd2b5;
  --theme-color-light: #6aae7a;
  --theme-color-dark: #488456;
  --max-content-width: 73rem;
  --darkest-text-color: #000;
  --darker-text-color: #333;
  --lighter-text-color: #555;
  --light-text-color: #999;
  --decent-highlight-color: #eee;
}

/*
 * disable body margins to fill the whole browser window
 */

body { margin: 0 }

/*
 * configure the font
 */

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: var(--lighter-text-color);
}

/*
 * headlines
 */

h1, h2, h3, h4, h5, h6 {
  color: var(--darkest-text-color);
  line-height: 1.1;
}

/*
 * font sizes like in the original stylesheet
 */
h1, h2 { font-size: 1.875rem }
h3 { font-size: 1.5rem }
h4 { font-size: 1.125rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

/*
 * configure nicer dividers
 */

hr {
  height: 1px;
  background-color: var(--decent-highlight-color);
  border: none;
}

/*
 * blockquote styling
 */

blockquote {
  border-left: .25rem solid var(--theme-color-light);
  margin: 0;
  padding-left: 1.5rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
}

/*
 * link styling
 */

a {
  color: var(--theme-color-light);
  text-decoration: none;
}

a:hover:not(.disabled) {
  color: var(--theme-color-dark);
  text-decoration: underline;
}

a.link-button {
  padding: 0 .5rem;
  padding: .5rem;
  border: 1px solid var(--theme-color-dark);
}

/* button link style which supports .disabled buttons */

a.button {
  background-color: white;

  border: 1px solid var(--theme-color-light);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .25em;
  padding-bottom: .25em;

  transition: all 0.25s linear;
}

a.button.disabled {
  border-color: var(--light-text-color);
  color: var(--light-text-color);
  cursor: not-allowed;
}

a.button:hover:not(.disabled) {
  text-decoration: none;
  background-color: var(--theme-color-light);
  color: white;
}

/*
 * general size limitations and paddings/ margins
 */

.padding-container {
  padding: 1rem;
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  margin-bottom: 1rem;
  min-height: 24rem;
}

/*
 * handling for long code lines
 */
 
pre { overflow-x: auto }

/******************
 * navigation bar *
 ******************/

/*
 * header
 */

header {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-small {
  flex: 100%; /* make it fill one row; the links should be shown in new rows */
  display: flex;
  justify-content: space-between;
  padding: .75rem;
 }

.header-large {
  display: none;
  padding-top: .5rem;
  /* the logo itself is not aligned within the image, so there is no padding-bottom */
  padding-left: .5rem;
}

/*
 * navigation links
 */

nav {
  flex: 1; /* take the full width */
  display: flex;
  flex-direction: column;
}

nav > a {
  color: var(--lighter-text-color);
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  letter-spacing: .08em;
}

nav > a:hover {
  background-color: var(--theme-color-lighter);
  color: var(--lighter-text-color);
}

/*
 * the expand header button
 */

.expand-header-button {
  display: inline-flex;
  border: 1px solid var(--light-text-color);
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
}

.expand-header-button:hover { background-color: var(--theme-color-light) }

.expand-header-button > div {
  width: 1rem;
  height: 0.125rem;
  background-color: var(--lighter-text-color);
  margin-top: .075rem;
  margin-bottom: .075rem;
  margin-left: auto;
  margin-right: auto;
}

/*
 * header expanding support using a hidden checkbox
 */

header > nav { display: none }
#expand-header-checkbox { display: none }
#expand-header-checkbox:checked + nav { display: flex }

/***********************************************
 * breadcrumb (headline with background image) *
 ***********************************************/

#heading-breadcrumbs {
  background: url(../img/texture-green.png) center center repeat;
  overflow-x: hidden;

  /* no padding/ margin here because the padding-container is used for this */
}

#heading-breadcrumbs > div > h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: var(--darker-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

/***********
 * sidebar *
 ***********/

/* this affects only big screens because display: flex is not set here */
.sidebar-container > .sidebar { flex: 1 }
.sidebar-container > .content { flex: 3; overflow-x: auto }

/*
 * sidebar panels in general
 */

.sidebar-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-panel > h3 {
  color: var(--lighter-text-color);
  display: inline-block;
  border-bottom: solid 0.25rem var(--theme-color-light);
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5;
}

.sidebar-panel i {
  padding-left: .5rem;
  padding-right: .5rem;
}

/*
 * specific sidebar panels
 */

.tag-list, .category-list {
  list-style: none;
  padding: 0;
}

.tag-list > li { margin-bottom: 1rem }

.tag-list a {
  border: 1px solid var(--decent-highlight-color);
  border-radius: .25rem;
  padding: .5rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .75rem;
}

.tag-list a:hover, .tag-list a.active {
  border-color: var(--theme-color-light);
  text-decoration: none;
}

.category-list, .category-list > li { width: 100% }

.category-list > li > a {
  display: block;
  padding: .5rem;
}

.category-list > li > a:hover, .category-list > li > a.active {
  background-color: var(--decent-highlight-color);
  text-decoration: none;
}

.feed-list {
  display: flex;
  flex-direction: column;
}

/**********
 * footer *
 **********/

footer {
  background-color: var(--lighter-text-color);
  color: var(--light-text-color);
  padding: 1rem;
}

footer h4, footer h5 {
  color: white;
  text-transform: uppercase;
}

/* the footer has got multiple columns on big screens */

.footer-content-container > div {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

/****************************************************
 * now, there are the rules for specific page types *
 ****************************************************/

/*************
 * post list *
 *************/

/* post list item */

/* display: flex is added on big screens to .post */

.post { flex-wrap: wrap; }

.post > .image { flex: 1 }
.post > .image > a > img { width: 100% }
.post > .text { flex: 2 }

.post h2 {
  margin: 0;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: .08em;
}

.post h2 > a {
  color: var(--lighter-text-color);
  text-transform: uppercase;
}

.post .author-category-and-date {
  display: flex;
  justify-content: space-between;
  color: var(--light-text-color);
  font-size: .75rem;
}

.post .author-and-category { text-transform: uppercase }
.post .date > a { color: var(--light-text-color); margin-right: 1em }
.post .date > a:hover { color: var(--theme-color-light) }
.post .date > a i { margin-right: .5em }
.post .read-more-button-wrapper { display: flex; justify-content: flex-end; }
.post .intro { margin: 0 }

.post .parts {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 1px solid var(--theme-color-light);
}

/* pager */

.pager {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* read more button style */

.read-more-button { font-weight: bold }

/**************
 * post pages *
 **************7

/* date of a post */
.post-date {
  text-align: right;
  text-transform: uppercase;
}

/* post headlines */
#post-content > h2, #post-content > h3, #post-content > h4 {
  padding-bottom: 0.5em;
  padding-top: 1em;
}

/* post images */
#post-content img:not(.custom-image):not(.float-10):not(.float-r15), #post-content video.fullsize {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: auto;
  height: auto;
  max-height: 31rem;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

img.float-10 {
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.float-r15 {
  float: right;
  margin-left: 15px;
}

/****************
 * contact page *
 ****************/

.contact-sidebar-uppercase-text { text-transform: uppercase }

/*******************
 * the extras page *
 *******************/

/* extra page tiles */

.extra-tile-container {
  display: grid;
}

.extra-tile {
  text-align: center;
  margin-bottom: 2rem;
}

.extra-tile > a > h3 { color: var(--darkest-text-color) }

.extra-tile > a > .icon {
  border: 1px solid var(--theme-color-light);
  display: inline-block;
  border-radius: 100%;
  padding: 2rem;
  transition: 0.25s transform linear;
}

.extra-tile > a:hover > .icon { transform: scale(1.1, 1.1) }

/********************
 * the anxicon page *
 ********************/

.anxiconletterindex {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.anxiconletterindex > a {
  padding: 0.5rem;
  font-size: 1.5rem;
  flex: 1;
  text-align: center;
}

.anxiconletterindex > a:hover {
  background-color: var(--decent-highlight-color);
  text-decoration: none;
}

/******************************************
 * adjustments for different screen sizes *
 ******************************************/

/**************************
 * medium screen handling *
 **************************/

@media only screen and (min-width: 37rem) {
  /* multi column footer */
  .footer-content-container {
    display: flex;
    flex-direction: row;
  }

  /* hide the dividers because they don't divide sections anymore */
  footer hr { display: none }
}

/***********************
 * big screen handling *
 ***********************/

@media only screen and (min-width: 62rem) {
  /* show the other header version */
  .header-small { display: none }
  .header-large { display: inline-block }

  /* always show the navigation links, in one row */
  header > nav {
    flex: none;
    display: inline-flex;
    flex-direction: row;
  }

  /* center the navigation item label vertically and add the bar on top on hover */
  header > nav > a {
    border-top: .25rem solid transparent;
    padding-top: .25rem;
    display: flex;
    align-items: center;
  }

  header > nav > a:hover { border-top-color: var(--theme-color-dark) }

  /* do not center the headlines of the breadcrumbs anymore */
  #heading-breadcrumbs > div > h1 { text-align: left }

  /* enable the two column post list layout */
  .post { display: flex }
  .post > .image, .post > .text { margin: 1rem }

  /* enable the two column sidebar layout/ make the sidebar a sidebar */
  .sidebar-container { display: flex }
  .sidebar-container > .content { margin-right: 2rem }
  .sidebar-container > .sidebar { margin-left: 2rem }

  /* enable three column tiles at the extras page */
  .extra-tile-container { grid-template-columns: repeat(3, 1fr) }
}

/******************
 * print handling *
 ******************/

@media print {
  /**********
   * header *
   **********/

  /*
   * show the big logo
   */
  .header-small { display: none }
  .header-large { display: inline-block }

  /*
   * don't show the navigation if it is opened
   */
  #expand-header-checkbox:checked + nav { display: none }

  /***********
   * sidebar *
   ***********/

  /* the sidebar contents are kept to show what we have, but more compact here */

  .sidebar-panel { display: block }

  .tag-list, .category-list {
    display: flex;
    flex-wrap: wrap;
  }

  .category-list > li { width: auto }

  .feed-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /**********
   * footer *
   **********/

  .footer-content-container {
    border-top: 1px solid var(--darkest-text-color);
    display: block;
  }

   /*
    * links are not clickable on the print
    */
  .footer-links { display: none }

  /*************
   * post list *
   *************/

  /*
   * limit post list images width and center it
   * two columns provide not enough space for the text
   * and the normal single column layout makes the images huge
   */
  .post > .image {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  /*
   * buttons are not usefull if they were printed
   */
  .read-more-button, .pager { display: none }

  /********************
   * extra page tiles *
   ********************/

  .extra-tile-container { grid-template-columns: repeat(2, 1fr) }

  /********************
   * the anxicon page *
   ********************/

   /* it is not possible to click on letters, so it's better to hide it */
  .anxiconletterindex { display: none }
}
