<footer>
  <div class="padding-container footer-content-container">
    <div>
      <h4>{{ i18n "aboutUs" }}</h4>
      {{ .Site.Params.about_us | markdownify }}
      <hr>
    </div>
    <div><!-- empty space --></div>
    <div class="footer-links">
      <h4>{{ i18n "contactTitle" }}</h4>
      {{ .Site.Params.contact_header | markdownify }}
      <a href="/kontakt" class="button">{{ i18n "contactGoTo" }}</a><br /><br />
      <h4>Rechtliches</h4>
      <p><a href="/impressum">Impressum</a></p>
      <p><a href="https://anoxinon.de/datenschutzerklaerung/">Datenschutzerklärung</a></p>
      <p><a href="/lizenzhinweis/">Lizenzhinweis</a></p>
      <hr>
    </div>
  </div>
</footer>
