<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <a rel="me" href="https://social.anoxinon.de/@AnoxinonMedia"></a>
    {{ partial "breadcrumb-header.html" "Blog" }}

    <div class="padding-container">
      <div class="sidebar-container">
        <div class="content">
          {{ partial "post-list-items.html" (dict "self" . "items" (where .Site.RegularPages "Type" "blog") ) }}

          {{ partial "post-list-pager.html" . }}
        </div>
        <div class="sidebar">
          {{ partial "sidebar.html" . }}
        </div>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
