<section class="extra-tile-container">
  {{ range $.Site.Data.extras }}
    <div class="extra-tile">
      <a{{ if .href }} href="{{ .href }}"{{ end }}>
        <div class="icon">
          <i class="fa fa-{{ .icon }}"></i>
        </div>
        <h3>{{ .title }}</h3>
      </a>
      <p>{{ .text }}</p>
    </div>
  {{ end }}
</section>
